@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@0,400;1,800&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h3 {
  font-size: 1.3em;
}

.exercise-box {
  border: black solid 1px;
  margin: 10px;
  border-radius: 10px;
  max-width: 250px;
}
/* .exerciseList-box {
  border: black solid 1px;
  border-radius: 10px;
} */

.exercise-box > p {
  padding-left: 20px;
  text-align: left;
}

.appointment-box {
  padding-left: 50px;
  
}

.divSpin {
  background-position: center;
  -webkit-animation: loadingSpin 2s infinite linear;
  -moz-animation: loadingSpin 2s infinite linear;
  -o-animation: loadingSpin 2s infinite linear;
  -ms-animation: loadingSpin 2s infinite linear;
  animation: loadingSpin 2s infinite linear;
  transform-origin: 50% 50%;
  display: block;
  margin: 120px;
}

/* .loadingSpin {
  -webkit-animation: loadingSpin 2s infinite linear;
  -moz-animation: loadingSpin 2s infinite linear;
  -o-animation: loadingSpin 2s infinite linear;
  -ms-animation: loadingSpin 2s infinite linear;
  animation: loadingSpin 2s infinite linear;
  transform-origin: 50% 50%;
  display: block;

  width: 50%;
  height: 50%;
} */

img.resize {
  width: 50%; /* you can use % */
  height: auto;
}

label {
  display: block;
  width: x;
  height: y;
  text-align: right;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes loadingSpin {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loadingSpin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loadingSpin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loadingSpin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes loadingSpin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  font-family: "nuntino sans", sans-serif;
}

.loading {
  font-size: 5vw;
  letter-spacing: 10px;
  animation: flip 3.5s infinite linear;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@keyframes flip {
  35% {
    transform: rotatex(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}
.container > .loading:nth-child(2) {
  animation-delay: 0.2s;
}

.container > .loading:nth-child(3) {
  animation-delay: 0.4s;
}

.container > .loading:nth-child(4) {
  animation-delay: 0.6s;
}

.container > .loading:nth-child(5) {
  animation-delay: 0.8s;
}

.container > .loading:nth-child(6) {
  animation-delay: 1.0s;
}

.container > .loading:nth-child(7) {
  animation-delay: 1.2s;
}
.container > .loading:nth-child(8) {
  animation-delay: 1.4s;
}
.container > .loading:nth-child(9) {
  animation-delay: 1.6s;
}
.container > .loading:nth-child(10) {
  animation-delay: 1.8s;
}

.rotating_div {
  width: 25px;
  height: 30px;
  animation: letter_spin 1s infinite linear;
  margin: 5px;
}
