@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@0,400;1,800&display=swap");

#root {
  max-width: 1280px;
  padding: 0;
  text-align: center;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: start;
}

#body {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */

  width: 100%;
  height: 100%;
}

#App {
  width: 100%;
}
.nav {
  margin-left: auto;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.nav ol {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0.5em;
}

.nav ol li {
  width: auto;
  padding: 0 1em;
  align-self: start;
  justify-self: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

.exercise-box {
  border: black solid 1px;
  margin: 10px;
  border-radius: 10px;
  max-width: 250px;
}

.exercise-box > p {
  padding-left: 20px;
  text-align: left;
}

.appointment-box {
  padding-left: 50px;
}

.divSpin {
  background-position: center;
  -webkit-animation: loadingSpin 2s infinite linear;
  -moz-animation: loadingSpin 2s infinite linear;
  -o-animation: loadingSpin 2s infinite linear;
  -ms-animation: loadingSpin 2s infinite linear;
  animation: loadingSpin 2s infinite linear;
  transform-origin: 50% 50%;
  display: block;
  margin: 120px;
}

/* .loadingSpin {
  -webkit-animation: loadingSpin 2s infinite linear;
  -moz-animation: loadingSpin 2s infinite linear;
  -o-animation: loadingSpin 2s infinite linear;
  -ms-animation: loadingSpin 2s infinite linear;
  animation: loadingSpin 2s infinite linear;
  transform-origin: 50% 50%;
  display: block;

  width: 50%;
  height: 50%;
} */

img.resize {
  min-width: 15em; /* you can use % */
  height: auto;
}

.appointment_box {
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes loadingSpin {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loadingSpin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loadingSpin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loadingSpin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes loadingSpin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  font-family: "nuntino sans", sans-serif;
}

.loading {
  font-size: 2em;
  letter-spacing: 10px;
  animation: flip 3.5s infinite linear;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@keyframes flip {
  35% {
    transform: rotatex(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}
.container > .loading:nth-child(2) {
  animation-delay: 0.2s;
}

.container > .loading:nth-child(3) {
  animation-delay: 0.4s;
}

.container > .loading:nth-child(4) {
  animation-delay: 0.6s;
}

.container > .loading:nth-child(5) {
  animation-delay: 0.8s;
}

.container > .loading:nth-child(6) {
  animation-delay: 1s;
}

.container > .loading:nth-child(7) {
  animation-delay: 1.2s;
}
.container > .loading:nth-child(8) {
  animation-delay: 1.4s;
}
.container > .loading:nth-child(9) {
  animation-delay: 1.6s;
}
.container > .loading:nth-child(10) {
  animation-delay: 1.8s;
}

.rotating_div {
  width: 25px;
  height: 30px;
  animation: letter_spin 1s infinite linear;
  margin: 5px;
}

img.resize {
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 600px;
}

input {
  padding: auto;
  text-align: center;
  font-size: 1em;
  max-height: 1.8em;
}

select > option {
  text-align: center;
  
}

/* textarea,
button,
select,
input {
  box-shadow: 0px 0px 16px -9px rgba(0, 0, 0, 0.1);
} */
/* 
.userInput:hover{
  box-shadow: 0px 0px 50px -4px #103954;
} */

/* textarea:hover,
button:hover,
select:hover,
input:hover {
  box-shadow: 0px 0px 50px -4px #103954;
}  */

/* textarea:active,
button:active,
select:active,
input:active {
  box-shadow: 0px 0px 21px -4px #103954;
} */

input::placeholder {
  font: 1em sans-serif;
  padding: auto;
  text-align: center;
}

input[type="checkbox"]:checked:before {
  background-color: white;
}

label {
  font-size: 1em;
  text-align: left;
}

input[type="time"] {
  max-width: 35%;
  font-size: 1em;
  padding: 3px 0 3px 10px;
  max-height: 1.8em;
}

input[type="date"] {
  font-size: 1em;
  padding: 3px 0 3px 10px;
  max-height: 1.8em;
}

input[type="number"] {
  max-width: 35%;
  padding: auto;
  max-height: 1.8em;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 1em;
  text-align: left;
}

.smallOption {
  font-size: 1em;
  padding: 0 0 0 10px;
  min-height: 1.8em;
}

.loginContainer {
  margin-top: 10em;
  margin-bottom: 10%;
}
.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12em;
}

@media screen and (max-width: 580px) {
  #root {
    width: 100%;
    display: block;
    margin: 0;
  }

  #body {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: auto;
  }

  #App {
    background-color: white;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formContainer {
    max-width: 400px;
    width: 320px;
    margin: auto;
  }
  .nav {
    width: 100%;
  }

  .formContainer > div {
    width: 100%;
    margin: auto;
  }

  img.resize {
    width: 100px;
    height: auto;
    max-width: 80%;
    max-height: 80%;
  }

  textarea {
    max-height: 8em;
  }
  .mobilehide {
    display: none;
  }
}

@media screen and (min-width: 580px) {
  #root {
    min-width: 100%;
    display: block;
    margin: 0;
  }

  #body {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: auto;
  }

  #App {
    background-color: white;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formContainer {
    max-width: 400px;
    width: 320px;
    margin: 0 auto;
  }

  .formContainer > div {
    width: 100%;
    margin: auto;
  }

  img.resize {
    width: 100px;
    height: auto;
    max-width: 80%;
    max-height: 80%;
  }

  textarea {
    max-height: 8em;
  }

  .landscape {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
  }

  .exercise-box {
    width: 200px;
    height: auto;
    font-size: smaller;
    display: flex;
    flex-direction: column;
  }

  .exercise-box > div:first-child {
    display: flex;
    text-align: left;
    border-radius: 9px 9px 0 0;

    background-color: #888;
  }

  .exercise-box > div:first-child > div {
    flex: 0 0 auto;
    margin: 0.2em 1em 0.2em 1em;
    color: white;
  }
  .exercise-box > div:last-child {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .exercise-box > div:last-child > div:first-child {
    margin: 0.5em 1em 0 1em;
  }
  .exercise-box > div:last-child > div:last-child {
    margin: 0 0.8em 0.5em 1em;
  }

  .exbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 680px;
    margin: 0 auto;
  }
  .apbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 680px;
    margin: 0 auto;
  }

  .appointment-box {
    width: 195px;
    height: auto;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    padding: 0;
    border: black solid 1px;
    border-top: none;
    border-radius: 9px;
  }

  .appointment-box > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    border-radius: 9px;
    background-color: #888;
  }

  .appointment-box > div:first-child > div:first-child {
    flex: 0 0 auto;
    margin: auto;
    color: white;
  }

  tr > td:first-child {
    width: 28%;
    padding-left: 0.5em;
  }
}
